body {
	background-image:url("g.jpg");
	background-size:cover;
	background-position:right center;
	background-color:yellow;
}
h1{
	color:blue;
	font-size:48px;
}
h2{
	
	color:red;
	font-size:38px;
}
h3{
	
	font-size:20px;
	color:white;
}