{% extends 'layout.html' %}
{% block content %}
<html>
<head></head>
<title></title>
<link rel="stylesheet" href="/static/main.css">
<body>
	<div class="container">
	<h1 class="display-50"><marquee>Welcome User!</marquee></h1>
        <hr class="my-50">
		<a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
		<h2>
		<center>"Wonder Of Greenery"<br></center></h2>
		<h3><center><br>Green plants are not just important to the human environment.<br>
		they form the basis for the sustainability and long-term health of environmental systems.<br>
		Green plants remove carbon dioxide from the atmosphere and generate the oxygen required for life.<br>
		Green plants are also a good source of food and protection.<br>No wonder many hotels today are investing in vertical gardens.<br>
		artificial plants and much more.<br>When it comes to environmental sustainability,greenery is the perfect option.<br>
		In fact,it has lots of other benefits attached to it.<br>Also,the air quality of the environment could improve.<br>
		These and many more benefits are what you get when you have greeneries around.<br>
		</center>
		</h3>
		
</div>
</body>
</html>
{% endblock %}